.root {
    main-color: rgb(237, 255, 242);
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #d9ffe2;
    -fx-font: 14px "Arial";
}

.button {
    -fx-background-color: mediumspringgreen;
    -fx-font: italic bold 14px "Arial";
}

.button:hover {
    -fx-background-color: cyan;
}

.button:pressed {
    -fx-background-color: orange;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}